.marry {
  background: url('./marry.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.marry-common {
   background: url('./marry.jpg');
   background-repeat: no-repeat;
   background-size: auto 1500px;
   background-position: 57% 8%;
}