@font-face {
	font-family: 'seto';
	src: url('./hk.ttf');
}
@font-face {
	font-family: 'zi';
	src: url('./zi.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	background-color: unset;
	color: unset;
}

:root {
	font-family: 'zi';
}